In [1]:
import pandas as pd
import json

## Create State + City Options

In [2]:
col_df= pd.read_csv('state_city_col.csv')
col_df= col_df.reset_index()

col_dict= {}
col_df.head()

   index    state                     city  dollars   factor
0      0  Alabama  Anniston-Calhoun County  42097.0  0.84194
1      1  Alabama           Auburn-Opelika  46758.0  0.93516
2      2  Alabama               Birmingham  46657.0  0.93314
3      3  Alabama        Decatur-Hartselle  43161.0  0.86322
4      4  Alabama                   Dothan  46150.0  0.92300

In [3]:
state_list= col_df.state.unique().tolist()
state_city_col_dict= {}

for state in state_list:

    city_col_list= []
    state_col_df= col_df[col_df.state == state]

    for index, row in state_col_df.iterrows():
        city_col_dict= {'city': row['city'], 'factor': row['factor']}
        city_col_list.append(city_col_dict)
    
    state_city_col_dict[state]= city_col_list

In [5]:
state_city_col_object= json.dumps(state_city_col_dict, indent=4)
state_city_col_object= "var state_city_col= " + state_city_col_object

with open('../js/state_city_col.js', 'w') as outfile:
    outfile.write(state_city_col_object)